.monkey
  overflow: scroll
  -webkit-overflow-scrolling: touch

  &.portrait
    margin-top: -5px
    margin-bottom: -5px

.heidelberg-tapToOpen
  position: absolute
  z-index: 2

.landscape .lmn-book
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100

  padding-top: 0

  background-color: #F6F5F1

.landscape-images
  display: table

  .landscape-images-inner
    display: table-row
    vertical-align: top
    clear: both

.page
  display: table-cell
  min-width: 490px

  .portrait &
    padding-right: 10px

  img
    max-width: none

.buy-now
  position: fixed
  right: 7px
  bottom: 7px

  padding: 4px 8px

  font-size: 1.1em

  background: rgba(black, 0.5)
  border: 1px white solid
  border-radius: 5px
  color: white

  .portrait &
    display: none
