.lmn-book {
  margin:0 auto;
  max-width:1280px;
}

.Heidelberg-Page.is-active {


  .js--active-overlay & {
    transform: none;
  }
}

.monkey-wrapper {
  height:auto;
  //padding-top: percentage(500 / 1280);
  padding-top: percentage(387 / 1054);
}

.Heidelberg-Book {
  position: absolute;
  left: 0;
  transition: left 0.7s;
  top:0;
  width:100%;

  &.at-front-cover {
    left: -25%;
    .Heidelberg-Page.is-active:nth-child(odd):hover {
      transform: rotateY(-15deg);
    }
  }

  &.at-rear-cover {
    left: 25%;
    .Heidelberg-Page.is-active:nth-child(even):hover {
      transform: rotateY(15deg);
    }
    .Heidelberg-Page.is-active:nth-child(odd) {
      opacity: 0;
    }
  }
}

.Heidelberg-Page {
  background: image-url('loading-large.gif') white no-repeat center center;
  line-height: 0;

  .Heidelberg-HiddenCover + & .Heidelberg-Spread {
    background-image: none !important;
    > img {
      visibility: hidden !important;
    }
  }

  img {
    height: auto;
    width: 100%;
  }
}

.Heidelberg-Page:nth-child(2) {
  background: transparent;
}

.last-page {
  position: absolute;
  z-index: 2;
  width: 100%;
  > img {
    width: 50%;
    margin-left: 50%;
  }
}


.lmn-book + .italic {
  display: none;
}

@media (min-width:993px) {
  .lmn-book + .italic.js--show-label {
    display: block;
  }
}