#letters {
  font-size: 1.6em;
  span {
    cursor: pointer;
    margin: 0 8px;
    width: 30px;
    display: inline-block;
  }
  .letter-active {
    color: #FFF;
    border-bottom: none;
    background-color: #f06263;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    .character-picker {
      display: inline;
    }
  }
  .character-card {
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    margin-top: 45px;
    margin-left: -30px;
    padding: 0;
    border-radius: 3px;
    border: 1px #CCC solid;
    img {
      width: 40px;
      height: 40px;
    }
  }
  span:first-child, span:last-child {
    color: black;
    display: inline;
    width: 0;
    height: 0;
    background-color: #f6f5f1;
  }
  .character-picker {
    display: none;
    margin-top: 100px;
    margin-left: -165px;
    padding: 15px 15px 0 15px;
    background-color: #FFF;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    z-index: 5;
    color: #707070;
    .tooltip-arrow {
      margin-top: -32px;
      width: 30px;
      position: absolute;
      margin-left: -20px;
    }
    .char-container {
      .img-container {
        padding: 15px 0;
        text-align: left;
        height: 100px;
        border-bottom: 1px solid #d8d4c7;
      }
      .img-container:last-child {
        border: none;
      }
      img {
        height: 70px;
        border-radius: 5px;
        margin-right: 10px;
        position: absolute;
        border: 1px solid #d8d4c7;
      }
      img:last-child {
        margin-right: 0;
      }
      .character-name {
        font-size: 1.1rem;
        padding: 20px 0 0 80px;
        text-transform: uppercase;
      }
      button {
        font-size: 0.8rem;
        margin-top: -2px;
        float: right;
        padding: .5rem 0.5rem;
      }
    }
    div.title {
      color: #f06362;
      font-style: italic;
      font-size: 1.35rem;
    }
    hr {
      width: 100%;
      height: 1px;
    }
  }
}

.landscape #letters-container {
  position: absolute;
  color: #f6f5f1;
  #letters {
    position: fixed;
    z-index: 100;
    left: 50%;
    padding: 5px 10px;
    background-color: rgba(#333333, 0.6);
    border-radius: 5px;
    color: white;
    transform: translate(-50%, 0);
    .letter-active {
      color: #ff5227;
    }
  }
}

.Heidelberg-Book {
  margin-top: 70px;
}
