.tooltip-arrow {
  display: none;
}

.monkey.mobile {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  &.portrait {
    margin-bottom: -5px;
  }
}
.mobile.monkey.monkey-icons {
  #letters {
    margin-left: -250px;
    width: 700px;
  }
  .letter-spans {
    height: 90px;
    overflow-x: scroll;
  }
}

.landscape .lmn-book {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  padding-top: 0;
  margin-top: 0;
  background-color: #f6f5f1;
}

.landscape-images {
  .landscape-images-inner {
    vertical-align: top;
    clear: both;
  }
}

.page {
  position: relative;
  float: left;
  min-width: 490px;
  padding-right: 10px;
  overflow: hidden;

  .landscape & {
    background: #333333;
  }
}

.page-first {
  padding-right: 0;
  margin-right: 10px;

  img {
    position: relative;
    left: -100%;
  }
}

.page-halfwidth {
  min-width: 0;
}
