.monkey.mobile {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &.portrait {
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

.lmn-book {
  position: relative;
}

// .landscape .lmn-book {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 40;
//   padding-top: 0;
//   margin-top: 0;
//   background-color: #f6f5f1;
// }

// .landscape-images {
//   //display: table;
//   .landscape-images-inner {
//     //display: table-row;
//     vertical-align: top;
//     clear: both;
//   }
// }

.page {
  position: relative;
  float: left;
  //display: table-cell;
  min-width: 490px;
  padding-right: 10px;
  overflow: hidden;

  .landscape & {
    background: #333333;
  }

  img {
    max-width: none;
  }
}

.buy-now {
  position: absolute;
  right: 15px;
  bottom: 30px;
  padding: 4px 8px;
  font-size: 1.1em;
  background: rgba(#333333, 0.6);
  border: 1px rgba(white, 0.5) solid;
  border-radius: 5px;
  color: white;

  .portrait & {
    display: none;
  }
}
