<div data-key="lmn-book" data-name="<%= customisation.name %>"
     data-gender="<%= customisation.gender %>" data-locale="<%= customisation.locale %>"
     class="lmn-book monkey js-only">
  <div class="background-brown padded-big align-center hidden-on-desktop-up">
    <%= image_tag('wiggle.gif', { width: 100, class: 'padded-bottom' }) %>
    <h6 class="not-strong"><%= t('loading') %></h6>
  </div>
</div>

<p class="text-softened italic aligned-center padded-top hidden-on-tablet-down js-only">
  <%= t('preview') %>
  <%= image_tag('arrow-3-50x35.svg', { class: 'monkey-arrow' }) %>
</p>
