.Heidelberg-Book
  left: 0

  transition: left 0.7s

  &.at-front-cover
    left: -25%

    .Heidelberg-Page.is-active:nth-child(odd):hover
      transform: rotateY(-15deg)

.Heidelberg-Page
  background: transparent

  .Heidelberg-HiddenCover + & .Heidelberg-Spread
    background-image: none !important
    > img
      visibility: hidden !important

.heidelberg-tapToOpen
  position: absolute
  z-index: 2

.last-page
  position: absolute
  z-index: 2

  > img
    width: 50%
    margin-left: 50%
